#alternativas{
    background-color: var(--color-second);
    display: flex;
    justify-content: space-between;

}

@media  (max-width: 1190px){
  #alternativas{
     display: inline-block;
     
  }
}