div{
    width: auto;
    height: auto;
    padding: 10px;
    
}
figure{
    padding: 5px;
    margin: 20px;
}
#kpop{
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}

@media  (max-width: 1050px){

    figure{
        margin: 0;
    }
    div{
        width: 100%;
    }
}
