#stilleto{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
}
.stilletoaula{
    width: 350px;
    margin: 30px;
}
.stilleto{
    margin: 30px;
}
@media  (max-width: 12489px)
