
.main-menu ul{
   float: right;
   width: auto;
   height: 75px;
   background-color:black;
   text-align: center;
}
.main-menu li{
   background-color:black;
   width: 100px;
   display: inline-block;
   padding: 20px;
   text-align: center;
   margin: 9px 9px 9px 9px;
   
}
.main-menu a{
   text-decoration: none;
   color: gray;
}
 .main-menu ul :hover {
       background-color: cornsilk;
 }

 
   
  
      
    
