.main-header{
  width: 100%;
  height: auto;
  background-color: var(--color-base);
  position: fixed;

}

.logo{
  float: right;
  padding: 9px 9px;
  border-radius: 20%;

}


@media  (max-width: 1024px){
 .main-header{
   width: 100%;
   
 }
}
