div{
    width: auto;
    height: auto;
    padding: 10px;
    
}
figure{
    padding: 5px;
    margin: 20px;
}

#aulas{
    padding-top: 90px;
    background-color: var(--color-primary);
}
.horario{
    float: right; 
}
.idades{
      width: 400px;
}
#alternativas{
      background-color: var(--color-second);
      height: 500px;
}
.maiquel{
         background-color: var(--color-base);
         width: 400px;
         float: right;
}
.vilma{
    width: 300px;
    background-color: var(--color-base);
    text-align: right;
    float: right;
}
.da{
    background-color: var(--color-base);
    width: 400px;

}
#stilleto{
    background-color: var(--color-primary);
}
.stilleto{
    width: 300px;
    float: right;
}
.stilletoaula {
     width: 300px;
}
#ballet{
    background-color: var(--color-second);
}
.ponta{
    float: right;
    background-color: var(--color-base);
    width: 300px;
}
.ballet{
       text-align: center;
       background-color: var(--color-base);
       width: 600px;
       
}

.baby{
    background-color: var(--color-base);
    width: 520px;
}

#kpop{
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}
@media  (max-width: 1050px){
   
    #alternativas{
        height: auto;
        padding: 0;
    }
    figure{
        margin: 0;
    }
    .ponta{
      float: left;
    }
    .maiquel{
        float: left;
    }
    .baby{
        width: 400px;
    }
    .baby2{
        width: 400px;
    }
    .ballet{
        width: 400px;
    }
    .ballet2{
        width: 400px;
    }
}







