       
		.logo{
			margin: 10px;
			border-radius: 5px;
			float: right;
		}  

		#quemsomos{
			width: 100%;
			height: 550px;
			color: var(--color-second);
			background: url(../imagens/fundo-apresentação.jpg);
			padding: 20px;
			font-size: 20px;
		}


		
