#depositions{
    width: 99vw;
    height: auto;
    background-color:  var(--color-third);
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.depositions-item{

   background-color: var(--color-third);
    color: var(--color-base);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px  7px  var(--color-base);
    margin: 30px;
}
@media (max-width: 953px){
     #depositions{
     display: block;  
     }
     .depositions-item{
        margin: 20px auto 20px auto;
     }
}