#ballet{
    background-color: var(--color-second); 
}
.ponta{
    float: right;
    margin-right: 150px ;
}
.ballet{
    text-align: center; 
   
}
.baby{
    margin-left: 100px;
}
@media  (max-width: 1050px){
      .ballet{
          margin-left: 0;
      }
      .ponta{
          margin-right: 0;
      }
}